<a href="https://colab.research.google.com/github/Sathvika15/Practice-programs/blob/master/Day12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Data Structures in PYTHON**
.
.
List ---> [] - Mutable 
Tuple ---> () - Immutable
Sets ---> {} 
Dictionary ----> { key :value}

#Tuples - It is a comma seperated values 

We can have repeated values

How to create a tuple

In [1]:
t1=(1,2,3)
print(t1,type(t1))

(1, 2, 3) <class 'tuple'>

or

In [2]:
t2=1,2,3
print(t2,type(t2))

(1, 2, 3) <class 'tuple'>

Creating using constructor

In [3]:
t1=tuple()
print(t1,type(t1))

() <class 'tuple'>

In [4]:
t1=()
print(t1,type(t1))

() <class 'tuple'>

How to create a single value tuple

In [5]:
t1=(5,)
print(t1,type(t1))

(5,) <class 'tuple'>

In [7]:
t1=(1,3,6,2,1,5,6,6)
print(t1)

(1, 3, 6, 2, 1, 5, 6, 6)

For set - It cannot have repeated values

In [8]:
t1={1,3,6,2,1,5,6,6}
print(t1)

{1, 2, 3, 5, 6}

We can pass sequence of values to a a construction in order to create a tuple

In [9]:
t1=tuple("GITAM")
t1

('G', 'I', 'T', 'A', 'M')

Indexing in tuple starts from 0

In [10]:
t1[0]

'G'

In [14]:
t1[4]

'M'

In [15]:
t1[0:5]

('G', 'I', 'T', 'A', 'M')

In [16]:
t1=(1,3,6,2,1,5,6,6)
t1[2:5]

(6, 2, 1)

In [17]:
t1[:-1]

(1, 3, 6, 2, 1, 5, 6)

In [18]:
t1[::-1]

(6, 6, 5, 1, 2, 6, 3, 1)

Tuple is immutable

In [21]:
t1=tuple("GITAM")
print(t1)
t1[0]='K'

('G', 'I', 'T', 'A', 'M')

TypeError: ignored

In [22]:
t1=tuple("GITAM")
print(t1)

('G', 'I', 'T', 'A', 'M')

To add something :
We can use addition operator(+)- Concatenation operator

In [23]:
t2=('S','c','h','o','o','l')
t1=t1+t2
print(t1)

('G', 'I', 'T', 'A', 'M', 'S', 'c', 'h', 'o', 'o', 'l')

In [25]:
t3=t1*3
t3

('G',
 'I',
 'T',
 'A',
 'M',
 'S',
 'c',
 'h',
 'o',
 'o',
 'l',
 'G',
 'I',
 'T',
 'A',
 'M',
 'S',
 'c',
 'h',
 'o',
 'o',
 'l',
 'G',
 'I',
 'T',
 'A',
 'M',
 'S',
 'c',
 'h',
 'o',
 'o',
 'l')

COMPARING TWO TUPLES - It takes by comparing the respective elements in the respective indexes

In [28]:
t1=(1,3,3)
t2=(1,3,4)
t1<t2

True

Assignment operator

In [30]:
x,y,z=1,2.08,'woah'
print(x,y,z)

1 2.08 woah

Swapping two numbers using assignment operator

In [31]:
x,y=y,x
print(x,y)

2.08 1

replacement for

In [33]:
x,y=5,2
x=x+y
y=x-y
x=x-y
print(x,y)

2 5

Program to seperate the domain and username from email id's

In [34]:
Emailid='geetha21@gitam.edu'
uname,domain=Emailid.split('@')
print(uname)
print(domain)

geetha21
gitam.edu

SEARCH OPERATION

In [36]:
t1=(1,2,3,4,5,6)
print( 5 in t1)

True

In [37]:
print( 5 not in t1)

False

In [38]:
7 not in t1

True

BUILT- IN OPERATION

In [39]:
len(t1)

6

In [40]:
max(t1)

6

In [41]:
min(t1)

1

In [43]:
t1=('Python','java','C','c++','javascript')
print(max(t1))

javascript

In [44]:
min(t1)

'C'

min() an max() only works for homogeneous tuples

In [45]:
t1=(1,2.4,3,7.2,4,'Python','java')
max(t1)

TypeError: ignored

In [46]:
del t1[4]

TypeError: ignored

Delete a tuple

In [47]:
print(t1)
del t1

(1, 2.4, 3, 7.2, 4, 'Python', 'java')

Occurance of the element - count()

In [48]:
t1=tuple('GITAM')
t2=('S','C','H','O','O','L')
t1=t1+t2
print(t1)

('G', 'I', 'T', 'A', 'M', 'S', 'C', 'H', 'O', 'O', 'L')

In [49]:
print(t1.count('O'))

2

To find the index number of the element in a tuple - index()

In [50]:
print(t1.index('S'))

5

In [51]:
print(t1.index('O'))

8

In [52]:
tname=('Ram','Sham','Ravi','Raju')
for i in tname:
  print("Hello",i)

Hello Ram
Hello Sham
Hello Ravi
Hello Raju

NESTED TUPLES

To retrive from nested tuple

In [53]:
t1=(1, 'Ram', (2, 4, 5.6, 7))
print(t1)

(1, 'Ram', (2, 4, 5.6, 7))

In [54]:
len(t1)

3

In [55]:
t1[2]

(2, 4, 5.6, 7)

In [56]:
len(t1[2])

4

In [58]:
t1[2][1]

4

In [59]:
t1=(1, 'Ram', (2, 4,(10,20,30), 5.6, 7))
len(t1)

3

In [60]:
t1[2][2][0]

10

In [61]:
t1[2][2]

(10, 20, 30)

To remove a element (using slicing operator)

In [63]:
t1=('G','I',4,'T','A','M')
t1=t1[:2]+t1[3:]
print(t1)

('G', 'I', 'T', 'A', 'M')

2 nd way - by converting it to a list

In [66]:
t1=('G','I',4,'T','A','M')
list1=list(t1)
list1.remove(4)
t1=tuple(list1)
print(t1)

('G', 'I', 'T', 'A', 'M')