<a href="https://colab.research.google.com/github/Sathvika15/Practice-programs/blob/master/Day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

COMPARISION OPERATOR

> BOOLEAN EXPRESSIONS

In [ ]:
a=50
b=3
a>b

True

In [ ]:
a=3
y=5
a==y

False

LOGICAL OPERATORS

and - Both have to true then only you will get ture or else false

In [ ]:
A=10
B=5
C=6
A>B and A>C

True

In [ ]:
A=10
B=5
C=6
A<B and A<C

False

or - Either one of the expression os true it is true

In [ ]:
x=5
y=1
z=7
x>y or x<z

True

not operator - It shows the opposite value of the actual value

In [ ]:
x=10
y=5
not x>y

False

Conditional execution

1. if 
Sytax :   if condition:
           executable statement(written after leaving a gab)

In [ ]:
x=10
if x>5:
  print('yes')

yes

2. if-else (else starts from begining of the line again)

SYNTAX : 
        if condition:
          Statement (everthing has to be written after the gap then only it will come under 'if'- called as intentation)


        else:
          Statement

In [ ]:
x=15
if x>100:
  print('False')
else:
  print('True')

True

In [ ]:
a=int(input(" Enter your age "))
if a>=18:
  print("Eligible for voting ")
else:
  print(" Not eligible for voting ")

 Enter your age 20
Eligible for voting

3.  if else-if else (else if is given as **elif**) 
**ALSO KNOWN AS CHAIN CONDITONAL STATEMENT**

Syntax: 
if condition:
  executable statement
elif condition:
  executable statement 
else:
  executable statement

In [ ]:
a=int(input("Enter a number "))
if a==0:
  print("The number is zero ")
elif a>0:
  print("The number is positive ")
else:
  print("The number is negative ")

Enter a number 3
The number is positive

NESTED IF-ELSE CONDITIONS

In [ ]:
a=int(input("Enter the number"))
if a==0:
  print("The number is zero")
else:
  if a%2==0:
    print("The number is even")
  else:
    print("The number is odd")

Enter the number4
The number is even