<a href="https://colab.research.google.com/github/Sathvika15/Practice-programs/blob/master/Day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Short circuit evaluation of logical operator (Multiple chain expression)

In [1]:
x=5
y=3
x>y and y!=0 and x<0

False

In [2]:
x=5
y=3
x>y and y!=0 and x>0

True

FUNCTIONS

In [ ]:
SYNTAX 
def functionname(arguments):
  Statements

In [6]:
def greeting(Name):
  print("Welcome ",Name)
greeting("Hemanth ")

Welcome  Hemanth

In [4]:
greeting("Sathvika ")

Welcome  Sathvika

In [7]:
def Student(Name,marks):
  print("My name is ",Name," I got ",marks," in Maths")
Student("Sathvika",89)

My name is  Sathvika  I got  89  in Maths

Using "return" statement

In [8]:
def add(a,b):
  c=a+b
  print(c)
add(3,7)

The value of c is  10

can be written as

In [11]:
def add(a,b):
  return a+b
Total=add(5,7)
print(Total)

12

In [13]:
def greatest(a,b):
  if a>b:
    return a
  else:
    return b
greatest(4,7)

7

**FOUR TYPES OF ARGUMENTS**

REQUIRED ARGUMENT

In [14]:
def Student(Name):
  print("Student name is ",Name)
Student("Sathvika")

Student name is  Sathvika

KEYWORD ARGUMENT

In [20]:
def Faculty(Name,dept):
  print("Name of the faculty is ",Name)
  print("The dept is ",dept)
Faculty("Geetha","CSE")

Name of the faculty is  Geetha
The dept is  CSE

DEFAULT ARGUMENT

In [25]:
def Faculty(Name,dept="CSE"):
  print("Name of the faculty is ",Name)
  print("The dept is ",dept)
Faculty("Geetha")

Name of the faculty is  Geetha
The dept is  CSE

VARIABLE - LENGTH  ARGUEMNT

In [17]:
def number(n,*v_tuple):
  for var in v_tuple:
    print(var)
number(10,29,30,50,65,60)

29
30
50
65
60