<a href="https://colab.research.google.com/github/Sathvika15/Practice-programs/blob/master/Day6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 **LOOPING STATEMENTS**

while

In [ ]:
SYNTAX: 
#This is formatted as code 
while condition:
  body of the loop 
  loop index increment 
else:(optional)
  statement

In [2]:
counter=0
while counter<3:
  print("It's inside while loop ")
  counter=counter+1 
else:
  print("Outside the loop ")

It's inside while loop
It's inside while loop
It's inside while loop
Outside the loop

In [3]:
n=0
while n<10:
  print(n)
  n=n+1
print("Outside the while")

0
1
2
3
4
5
6
7
8
9
Outside the while

Program to check whether the number if palindrome or no

In [7]:
a=int(input("Enter your number "))
temp=a
rev=0
while a>0:
  rem=a%10  
  rev=(rev*10)+rem
  a=a//10  
print("The reverse of the number is ",rev)
if (temp==rev):
  print("The number is a palindrome number ")
else:
  print("It is not a palindrome number ")

Enter your number 323
The reverse of the number is  323
The number is a palindrome number

Program for reverse of a number

In [8]:
a=int(input("Enter your number "))
temp=a
rev=0
while a>0:
  rem=a%10  
  rev=(rev*10)+rem
  a=a//10  
print("The reverse of the number is ",rev)

Enter your number 123
The reverse of the number is  321

In [ ]:
123

Program to find the divisor of a number (the number is never divisible by the number more than half of the orginal number)

In [5]:
n=int(input("Enter your number "))
i=2
while i<=n//2:
    if n%i==0:
        print(i)
    i=i+1
else:
  print("These are the divisors of the given number ")

Enter your number 18
2
3
6
9
These are the divisors of the given number

for loop

In [ ]:
for value in sequence:
  body of loop
else:
  statements

In [6]:
friends=['Raju','Ravi','Ram']
for friend in friends:
  print("Happy new yaer: ",friend)
print("End")

Happy new yaer:  Raju
Happy new yaer:  Ravi
Happy new yaer:  Ram
End

Pyhton program to print multiplication table

In [8]:
n=int(input("Enter the number to display the multiplication table "))
for i in range(0,11):
  print(n," x ",i," = ",(n*i))

Enter the number to display the multiplication table 5
5  x  0  =  0
5  x  1  =  5
5  x  2  =  10
5  x  3  =  15
5  x  4  =  20
5  x  5  =  25
5  x  6  =  30
5  x  7  =  35
5  x  8  =  40
5  x  9  =  45
5  x  10  =  50

In [9]:
x=range(5)
print(type(x),x)
x=list(range(5))
print(type(x),x)

<class 'range'> range(0, 5)
<class 'list'> [0, 1, 2, 3, 4]