<a href="https://colab.research.google.com/github/Sathvika15/Practice-programs/blob/master/Day7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Continue of for loop

In [2]:
for i in range(5,20,1):
  print(i,end=' ')

5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

In [9]:
print("for odd")
for i in range(1,51,2):
  print(i,end=" ")
print("\r")  
print("for even ")
for i in range(0,51,2):
  print(i,end=" ")

for odd
1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49
for even
0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50

In [10]:
for i in range(5,10,0.5):
  print(i)

TypeError: ignored

for loop for string

In [11]:
for char in "GITAM UNIVERSITY":
  print(char)

G
I
T
A
M

U
N
I
V
E
R
S
I
T
Y

Program to print the sum and the average of the given numbers

In [16]:
number=[40,30,27,81.5]
sum=0
for i in number:
  sum=sum+i
avg=sum/len(number)
print("The sum and average is ",sum,"and ",avg)

The sum and average is  178.5 and  44.625

Prime number or no

2nd method

In [19]:
def prime(n):
  for i in range(2,(n//2)+1):
    if n%i==0:
      return "Not prime "
    else:
      return "Prime "
prime(5)

'Prime '

In [35]:
n1=int(input("Enter n1: "))
n2=int(input("Enter n2: "))
for num in range(n1, n2+1):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
        else:
            print(num)

Enter n1: 10
Enter n2: 20
11
13
17
19

Addition of two matrices

In [48]:
m1=[[1,6,3],
     [9,5,6],
     [7,0,9]]
m2=[[2,5,1],
    [4,2,8],
    [7,2,6]]     
for i in range(len(m1)):
  for j in range(len(m2)):
    result[i][j]=m1[i][j]+m2[i][j]
for r in result:
  print(r)

[3, 11, 4]
[13, 7, 14]
[14, 2, 15]

Multiplication of 2 matrices

In [ ]:
m1=[[1,6,3],
     [9,5,6],
     [7,0,9]]
m2=[[2,5,1],
    [4,2,8],
    [7,2,6]]     
reesult=[[0,0,0],
    [0,0,0],
    [0,0,0]] 
for i in range(len(m1)):
  for j in range(len(m2)):
    for k in range(len(m2)):
      result[i][j]= result[i][j]+m1[i][k]*m2[k][j]
for r in result:
  print(r)